In [ ]:
print("Hello world")

Hello world

In [ ]:
print('Hello world')

Hello world

In [ ]:
if 2 > 1:
  print("VJTI")

VJTI

In [ ]:
# Variable declaration
# This is my programme
# I am Sandeep

"""
Variable declaration
This is my programme
I am Sandeep
"""

a = 1
#print(a)
print(type(a))   # Printing the type of variable

a = 1.2
print(a)
print(type(a))

a = "Hello world"
print(a)
print(type(a))

a = 'H'
print(a)
print(type(a))

<class 'int'>
1.2
<class 'float'>
Hello world
<class 'str'>
H
<class 'str'>

In [ ]:
# Type casting
# Case-sensitive
# Variable name must start with letter or underscore character. Thus, variable name cannot start with numbers.
# Alpha-numeric characters and underscore (A-z, 0-9, _) is allowed.

a = str(1)
b = int(1)
c = float(1)
A = str(1)
B = int(1)
C = float(1)

print(a, type(a))
print(b, type(b))
print(c, type(c))
print(A, type(A))
print(B, type(B))
print(C, type(C))

1 <class 'str'>
1 <class 'int'>
1.0 <class 'float'>
1 <class 'str'>
1 <class 'int'>
1.0 <class 'float'>

In [ ]:
# Legal variable

myname = 'sandeep'
my_name = 'sandeep'
_my_name = 'sandeep'
_myname = 'sandeep'
myname_1 = 'sandeep'
_myname_1 = 'sandeep'
myName = 'sandep'
MYNAME = 'sandeep'
myname1 = 'sandeep'

instituteStudentRollNumber = 172000  # First letter is small other starting letter is captial "Camel case"
InstituteStudentRollNumber = 172000  # Starting letter is captial "Pascal case"
institute_student_roll_number = 172000  # Letters are separeted by _ "Snake case"

#1myname = 'sandeep'
#my$name = 'sandeep'
#my name = "sandeep"

In [ ]:
a = 1
b = 2
c = 3
print(a,b,c)

a, b, c = 1, 2, 3
print(a,b,c)

a, b, c = 1, 2.0, 'sandeep'
print(a,b,c)

#a, b, c = 1, 2
#print(a,b,c)

a = b = c = 1
print(a,b,c)

a, b = 1, 2
print("Before swapping", a,b)
a, b = b, a
print("After swapping",a,b)

1 2 3
1 2 3
1 2.0 sandeep
1 1 1
Before swapping 1 2
After swapping 2 1

In [ ]:
# Collection value (list)
a = [1,2,3]
print(a, type(a))

a = [1,2.0,'sandeep']
print(a, type(a))

x, y, z = a    #Unpack the collection
print(x)
print(y)
print(z)

[1, 2, 3] <class 'list'>
[1, 2.0, 'sandeep'] <class 'list'>
1
2.0
sandeep

In [ ]:
a = 'Udmale'
print("Sandeep", a)

a = 'Udmale'
b = 'Sandeep'
print(b+a)

a = 'Udmale'
b = 'Sandeep'
print(b +" "+a)

a = 'Udmale'
b = 'Sandeep'
c= a + b
print(c)


a = 'Udmale'
b = 'Sandeep'
c= a +' '+ b
print(c)

Sandeep Udmale
SandeepUdmale
Sandeep Udmale
UdmaleSandeep
Udmale Sandeep

In [ ]:
a = 2
b = 10
print(b+a)
print(b-a)
print(b*a)
print(b/a)

#a = '2'
#b = 10
#print(b+a)

a = '2'
b = 10
print(f'The value of a: {a} and b: {b}')
print(F'The value of a: {a} and b: {b}')
print('The value of a: '+ a +' and b:', b)
print('The value of a: {} and b: {}'.format(a,b))

12
8
20
5.0
The value of a: 2 and b: 10
The value of a: 2 and b: 10
The value of a: 2 and b: 10
The value of a: 2 and b: 10

In [ ]:
# Data Type
a = 1
print(a, type(a))

a = 1.2
print(a, type(a))

a = 'VJTI'
print(a, type(a))

a = 1+1j
print(a, type(a))

a = [1, 2, 3]
print(a, type(a))

a = (1, 2, 3)
print(a, type(a))

a = range(5)
print(a, type(a))

a = True
print(a, type(a))

a = {'s1':'sandeep', 's2':'udmale', 's3':'vjti'} #key value pair
print(a, type(a))

a = {1, 2, 3}
print(a, type(a))

1 <class 'int'>
1.2 <class 'float'>
VJTI <class 'str'>
(1+1j) <class 'complex'>
[1, 2, 3] <class 'list'>
(1, 2, 3) <class 'tuple'>
range(0, 5) <class 'range'>
True <class 'bool'>
{'s1': 'sandeep', 's2': 'udmale', 's3': 'vjti'} <class 'dict'>
{1, 2, 3} <class 'set'>

In [ ]:
a = 1
b = 123456789123
c = -20
print(a, type(a))
print(b, type(b))
print(c, type(c))

a = 1.0
b = 123456789123.2
c = -20.10
print(a, type(a))
print(b, type(b))
print(c, type(c))

a = 1e2
b = 12E10
c = -20.1e6
print(a, type(a))
print(b, type(b))
print(c, type(c))

a = 1 + 2j
b = 10j
c = -20j
print(a, type(a))
print(b, type(b))
print(c, type(c))
print(a.real, type(a.real), a.imag, type(a.imag))

a = complex(1, 2)
b = complex(0,10)
c = complex()
d = complex(100)
e = complex('1-1j')
print(a, type(a))
print(b, type(b))
print(c, type(c))
print(d, type(d))
print(e, type(e))

1 <class 'int'>
123456789123 <class 'int'>
-20 <class 'int'>
1.0 <class 'float'>
123456789123.2 <class 'float'>
-20.1 <class 'float'>
100.0 <class 'float'>
120000000000.0 <class 'float'>
-20100000.0 <class 'float'>
(1+2j) <class 'complex'>
10j <class 'complex'>
(-0-20j) <class 'complex'>
1.0 <class 'float'> 2.0 <class 'float'>
(1+2j) <class 'complex'>
10j <class 'complex'>
0j <class 'complex'>
(100+0j) <class 'complex'>
(1-1j) <class 'complex'>

In [ ]:
import random, math

print(random.randrange(1.0,500.0))
print(math.pow(2,3))
print(math.sqrt(50))

258
8.0
7.0710678118654755

In [ ]:
b = """ Hi, I am sandeep udmale.
Teaching to S Y B Tech IT. 
The course is PDL. """

a = 'hello world'
print(a, type(a))
print(b, type(b))

hello world <class 'str'>
 Hi, I am sandeep udmale.
Teaching to S Y B Tech IT.
The course is PDL.  <class 'str'>

In [ ]:
a = 'hello world'
b = a[10]
print(b)

#a[0] = 'H'
#print(a)

print('Length of a:', len(a))
print(range(0, len(a)))

for i in range(0, len(a)):
  print(a[i])

for i in 'hello world':
  print(i)

for i in a:
  print(i)

d
Length of a: 11
range(0, 11)
h
e
l
l
o

w
o
r
l
d
h
e
l
l
o

w
o
r
l
d
h
e
l
l
o

w
o
r
l
d

In [ ]:
# Checking the string
a = 'I am sandeep. I am teaching to S Y B Tech IT'
print('sandeep' in a)
print('z' not in a)

if 'sandeep' in a:
  print('present')
else:
  print('Not present')

True
True
Not present

In [ ]:
# Slicing
a = 'hello world'
print(a[3:5])
print(a[0:5])
print(a[:5])
print(a[6:])
print(a[-11:-6])
print(a[:-6])
print(a[-5:])
print(a[:])
print(a[0:5:2])
print(a[-5:-1:1])

lo
hello
hello
world
hello
hello
world
hello world
hlo
worl

In [ ]:
# String operations
a = 'Hello World!'
print(a.upper())
print(a)
print(a.lower())
print(a)

a = '    sandeep udmale     '
b = a.strip()
print(b)

HELLO WORLD!
Hello World!
hello world!
Hello World!
sandeep udmale
eep udmale

In [ ]:
a = 'Hello World! I am back'
print(a.split(' '))
print(a.split('I'))
a = 'sandeep$udmale$vjti'
print(a.split('$'))
print(a)

['Hello', 'World!', 'I', 'am', 'back']
['Hello World! ', ' am back']
['sandeep', 'udmale', 'vjti']
sandeep$udmale$vjti

In [ ]:
#Escape characters
# \' = '
# \n = New line
# \\ = \
# \t = Tab
# \r = Carriage return
# \b = Backspace
# \xhh = Hex value
# \ooo = Octal value

a = 'Hello world, it\'s time to rock'
print(a)
a = "Hello world, it's time to rock"
print(a)
a = 'Hello world,\nit\'s time to rock'
print(a)
a = 'Hello world \\'
print(a)
a = 'Hello\tworld'
print(a)
a = 'Hello, I am sandeep \rsandeep world '
print(a)
a = 'Hello \bworld'
print(a)
a = '\x65'
print(a)
a = '\111\112\113'
print(a)

Hello world, it's time to rock
Hello world, it's time to rock
Hello world,
it's time to rock
Hello world \
Hello	world
Hello, I am sandeep
sandeep world
Hello world
e
IJK

In [ ]:
# Operations of string

a = 'I am sandeep. My friend name is sandeep.'
b = "sandeep123"
c = 'sandeep'
d = '123'
print(a.count('sandeep'))  # No. of times occurance of string
print(a.index('sandeep'))  # Index value of string starting from particular location
print(a.isalnum())  # space, &, #, %, ? ....  Check the characters are alphanumeric
print(b.isalnum())
print(a.isalpha())  # Check the characters are alphabets
print(b.isalpha())
print(c.isalpha())
print(a.isdigit())    # Checks the characters are digit or not
print(d.isdigit())

a = 'sandeep$udmale$vjti'
b = a.split('$')
print(b)
c = "$".join(b)
print(c)

a = '         sandeep         '
print("hi", a.rstrip(), "how are you?") # Eliminates the spaces from tail of the string
print("hi", a.lstrip(), "how are you?") # Eliminates the spaces from head of the string

a = 'I am sandeep. My friend name is sandeep.'
print(a.split())

a = 'I am sandeep.\n My friend name is sandeep.'
print(a.splitlines())
print(a.split('\n'))

print(a.startswith('I'))
print(a.endswith('.'))
print(a.find('sandeep'))

a = 'I am sandeep. My friend name is sandeep.'
print(a.partition('sandeep'))
print(a.replace('sandeep', 'sachin'))

2
5
False
True
False
False
True
False
True
['sandeep', 'udmale', 'vjti']
sandeep$udmale$vjti
hi          sandeep how are you?
hi sandeep          how are you?
['I', 'am', 'sandeep.', 'My', 'friend', 'name', 'is', 'sandeep.']
['I am sandeep.', ' My friend name is sandeep.']
['I am sandeep.', ' My friend name is sandeep.']
True
True
5
('I am ', 'sandeep', '. My friend name is sandeep.')
I am sachin. My friend name is sachin.

In [ ]:
# boolean
print(10 < 5)
print(10 > 5)
print(10 == 10)

print(bool(10)) # evaluate the value 
print(bool('hello'))
print(bool(()))
print(bool([]))
print(bool({}))
print(bool("hello"))
print(bool(0))
print(bool(""))
print(bool(None))

a = 1.0
print(isinstance(a, int))

False
True
True
True
True
False
False
False
True
False
False
False
False

In [ ]:
# Python Operators
print(10 - 3)
print(10 + 3)
print(10 + 3.0)
print(10 + 3.)
print(10 * 3)
print(10 * 3.0)
print(5/2)
print(4/2)
print(53//24)   # Floor division
print(-53//24)   # Floor division
print(53%24)    # Modulus
print(-53%24)    # Modulus
print(2**3)     # Exponentiation
print(2/3)
print(5/3)
print(212 - 32 * 5 / 9)   # Operator precedence  1) ** 2) - 3) *, /, //, % 4) +, -
print(212 - (32*5) / 9)

7
13
13.0
13.0
30
30.0
2.5
2.0
2
-3
5
19
8
0.6666666666666666
1.6666666666666667
194.22222222222223
194.22222222222223

In [ ]:
# Assignment operators
a = 10
print(a)

a = 10
a += 5  # a = a + 5
print(a)

a = 10
a -= 5  # a = a - 5
print(a)

a = 10
a *= 5  # a = a * 5
print(a)

a = 10
a /= 5  # a = a / 5
print(a)

a = 10
a //= 5  # a = a // 5
print(a)

a = 10
a %= 5  # a = a % 5
print(a)

a = 10
a **= 5  # a = a ** 5
print(a)

a = 2
a *= 3 + 4  # = sign produce output then apply the multiplication
print(a)

a = 10
a ^= 5  # a = a ^ 5  
print(a)

a = 10
a &= 5  # a = a & 5  
print(a)

a = 10
a |= 5  # a = a | 5  
print(a)

a = 10
a >>= 2  #  
print(a)

a = 10
a <<= 2  #
print(a)

10
15
5
50
2.0
2
0
100000
14
15
0
15
2
40

In [ ]:
# Comparison
a = 1
b = 1
print(a == b)
print(a != b)
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)
print(a <= 1 and b >= 10)
print(a <= 1 or b >= 10)
print(not(a <= 1 and b >= 10))

True
False
False
False
True
True
False
True
True

In [ ]:
# List
# Ordered, change the elements, duplicate entries are allowed
a = [1, 2, 3]
print(type(a))

b = a
print(a, b)

c = b
print(a, b, c)

print(c[0])
c[0] = 100
print(a, b, c)

a = [1, 2, 3]

b = tuple(a)  # ()
b = list(b)

print(a, b, type(a), type(b))
b[0] = 100
print(a, b, type(a), type(b))

a = [1, 2, 3]
print(a[0])
print(a[-1], a[-3])

#print(a[100])

a = []
print(a, type(a))

a = [1, 2, 3]
b = ['1', '2', '3']
c = [True, False, True]
d = [1.1, 2.2, 3.3]
e = [1, '1', True, 100.10]

print(a, b, c, d, e)
print(type(a), type(b), type(c), type(d), type(e))

a = list((1, 2, 3))  # list() constructor
print(a)
print(type(a))

a = [100, 20, 30, 40, 50]
#a = ['A', 'B', 'C']
print(a[:])
print(a[2:4])
print(10 in a)
print(len(a))
print(max(a))
print(min(a))
print(sum(a))
print(sorted(a))
print(a)

a = [1, 2, 3]
b = ['Z']
c = 'Y'
print(a + b)  # Concatenation operator (+)
print(b + a)
#print(a + c)

print(a * 2)

<class 'list'>
[1, 2, 3] [1, 2, 3]
[1, 2, 3] [1, 2, 3] [1, 2, 3]
1
[100, 2, 3] [100, 2, 3] [100, 2, 3]
[1, 2, 3] [1, 2, 3] <class 'list'> <class 'list'>
[1, 2, 3] [100, 2, 3] <class 'list'> <class 'list'>
1
3 1
[] <class 'list'>
[1, 2, 3] ['1', '2', '3'] [True, False, True] [1.1, 2.2, 3.3] [1, '1', True, 100.1]
<class 'list'> <class 'list'> <class 'list'> <class 'list'> <class 'list'>
[1, 2, 3]
<class 'list'>
[100, 20, 30, 40, 50]
[30, 40]
False
5
100
20
240
[20, 30, 40, 50, 100]
[100, 20, 30, 40, 50]
[1, 2, 3, 'Z']
['Z', 1, 2, 3]
[1, 2, 3, 1, 2, 3]

In [ ]:
a = [1, 2, 3, 4]
a.insert(0, 'A')
print(a)
print(len(a))
a.insert(10, 'Z')
print(a)
a.insert(2, 100.100)
print(a)
print(len(a))
#a[7] = 'sandeep'
#print(a)

a = [1, 2, 3, 4]
del a[0]
print(a)

a = [1, 2, 3, 4]
a.append(500)
print(a)

a = [1, 2, 3, 4]
b = ['z', 'y', 'x', 'w']
a.extend(b)
print(a, b)

b = ['z', 'y', 'x', 'w']
b.remove('x')
print(b)

b = ['z', 'y', 'x', 'w']
b.pop(2)
print(b)

b = ['z', 'y', 'x', 'w']
b.pop()
print(b)

b = ['z', 'y', 'x', 'w']
b.clear()
print(b)

b = ['z', 'y', 'x', 'w']
del b
#print(b)

b = ['z', 'y', 'x', 'w', 'z']
a = [10, 20, 30, 40, 10]
print(b.count('z'))
print(b.count('a'))
print(b.count('x'))
print(b.index('z'))
print(b.index('z', 1))
print(b.index('x', 1, 3))
print(a.index(10, 1))
a.sort()
print(a)
a.sort(reverse = True)
print(a)
a.reverse()
print(a)

['A', 1, 2, 3, 4]
5
['A', 1, 2, 3, 4, 'Z']
['A', 1, 100.1, 2, 3, 4, 'Z']
7
[2, 3, 4]
[1, 2, 3, 4, 500]
[1, 2, 3, 4, 'z', 'y', 'x', 'w'] ['z', 'y', 'x', 'w']
['z', 'y', 'w']
['z', 'y', 'w']
['z', 'y', 'x']
[]
2
0
1
0
4
2
4
[10, 10, 20, 30, 40]
[40, 30, 20, 10, 10]
[10, 10, 20, 30, 40]

In [ ]:
# Loops
a = [10, 20, 30, 40, 50]
for i in a:
  print(i)

for i in range(len(a)):
  print(a[i])

for i in [0,1,2,3,4]:
  print(a[i])

i = 0
while i < len(a):
  print(a[i])
  i += 1

# for varibale in list
# Loop block

print(list(range(5)))
print(list(range(2)))
print(list(range(0)))
print(list(range(1,5)))
print(list(range(5,10)))
print(list(range(500, 525, 5)))
print(list(range(500, 525, -5)))
print(list(range(525, 500, -5)))
print(list(range(525, 500, 5)))

a = [10, 21, 32, 43, 54]
x = [i for i in a if i > 25]    # Comprehension
print(x)

a = [10, 21, 32, 43, 54]
x = [a for i in a if i > 25]    # Comprehension
print(x)

x = []
for i in a:
  if i > 25:
    x.append(i)
print(x)

10
20
30
40
50
10
20
30
40
50
10
20
30
40
50
10
20
30
40
50
[0, 1, 2, 3, 4]
[0, 1]
[]
[1, 2, 3, 4]
[5, 6, 7, 8, 9]
[500, 505, 510, 515, 520]
[]
[525, 520, 515, 510, 505]
[]
[32, 43, 54]
[[10, 21, 32, 43, 54], [10, 21, 32, 43, 54], [10, 21, 32, 43, 54]]
[32, 43, 54]

In [ ]:
a = [1, 2, 3, ['a', 'b','c'], 100.100, 'sandeep', [10, 20, 30], (1, 2, 3)]
print(a)
print(a[3])
print(a[5])
print(a[6])
print(a[6][1])
print(a[7], type(a), type(a[7]))

[1, 2, 3, ['a', 'b', 'c'], 100.1, 'sandeep', [10, 20, 30], (1, 2, 3)]
['a', 'b', 'c']
sandeep
[10, 20, 30]
20
(1, 2, 3) <class 'list'> <class 'tuple'>

In [ ]:
a = input()
print(a, type(a))

a = int(input())
print(a, type(a))

a = int(input("Enter the integer number only :"))
print(a, type(a))

100
100 <class 'str'>
100
100 <class 'int'>
Enter the integer number only :100
100 <class 'int'>

In [ ]:
a = int(input())
b = int(input())
print(a+b)

10
20
30

In [ ]:
def addition(a, b):
  print(a + b)

x = int(input())
y = int(input())

addition(x, y)

10
20
30

In [ ]:
def addition(a, b):
  return a + b

x = int(input())
y = int(input())

z = addition(x, y)
print(z)

10
20
30

In [ ]:
# Tuple
x = [1,2,3]
y = (1,2,3)
print(type(x), type(y))
print(x[0], y[0])
x[0] = 100
print(x)
#y[0] = 100
print(y, len(y))
a = (1)
print(a, type(a))
b = (1,)
print(b, type(b))

a = (1,2,3,4)
print(a, type(a))
a = ('x', 'y', 'z')
print(a, type(a))
a = (True,False,True,True)
print(a, type(a))
a = (1,2.0,True,'x',[10,20,30],(100,200,300))
print(a, type(a))
a = tuple((1,2,3,4,5,6))
print(a, type(a))
print(a[0], a[-1])
print(a[2:4], a[-4:-1])
print(5 in a)
print(100 in a)

b = list(a)
b[2] = 300
a = tuple(b)
print(a)

b = list(a)
b.append(1000)
a = tuple(b)
print(a)

a = (1,2,3,4,5)
b = (10,)
a += b
print(a, b)

del b
#print(b)

<class 'list'> <class 'tuple'>
1 1
[100, 2, 3]
(1, 2, 3) 3
1 <class 'int'>
(1,) <class 'tuple'>
(1, 2, 3, 4) <class 'tuple'>
('x', 'y', 'z') <class 'tuple'>
(True, False, True, True) <class 'tuple'>
(1, 2.0, True, 'x', [10, 20, 30], (100, 200, 300)) <class 'tuple'>
(1, 2, 3, 4, 5, 6) <class 'tuple'>
1 6
(3, 4) (3, 4, 5)
True
False
(1, 2, 300, 4, 5, 6)
(1, 2, 300, 4, 5, 6, 1000)
(1, 2, 3, 4, 5, 10) (10,)

In [ ]:
a = (10, 20) # Unpacking
(x, y) = a
print(a, x, y, type(a), type(x), type(y))

a = (10, 20, 30, 40, 50)
(x, y, *z) = a
print(a, x, y, z, type(a), type(x), type(y), type(z))
#(x, y, z) = a
#print(a, x, y, z, type(a), type(x), type(y), type(z))
(x, *y, z) = a
print(a, x, y, z, type(a), type(x), type(y), type(z))
#(*x) = a
#print(a, x, type(a), type(x))
(*x,) = a
print(a, x, type(a), type(x))

(10, 20) 10 20 <class 'tuple'> <class 'int'> <class 'int'>
(10, 20, 30, 40, 50) 10 20 [30, 40, 50] <class 'tuple'> <class 'int'> <class 'int'> <class 'list'>
(10, 20, 30, 40, 50) 10 [20, 30, 40] 50 <class 'tuple'> <class 'int'> <class 'list'> <class 'int'>
(10, 20, 30, 40, 50) [10, 20, 30, 40, 50] <class 'tuple'> <class 'list'>

In [ ]:
a = (10, 20, 30, 40, 50)
for i in a:
  print(i)

for i in range(len(a)):
  print(a[i])

print(a * 3)
b = a * 3
print(b.count(50))
print(b.count(20))
print(b.index(50))
print(b.index(20))

10
20
30
40
50
10
20
30
40
50
(10, 20, 30, 40, 50, 10, 20, 30, 40, 50, 10, 20, 30, 40, 50)
3
3
4
1

In [ ]:
# Fibonacci series: define a function named as fab(a, b). The sequence must be saved in a list and finally print the list.
# [1, 1, 2, 3, 5, 8, 13]

def fab(a, b):
  return a + b

x = int(input('Provide the value up to which you want to print fabonacci series:'))
k, l, y = 1, 1, []
y.append(k)
y.append(l)
while l<=x:
  z = fab(k, l)
  k, l = l, z
  if l<=x:
    y.append(l)

print(y)

Provide the value up to which you want to print fabonacci series:100
[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [ ]:
def fab(a, b):
  return a + b

x = int(input('Provide the value up to which you want to print fabonacci series:'))
k, l, y = 1, 1, []
y.append(k)

while l<=x:
  y.append(l)
  z = fab(k, l)
  k, l = l, z

print(y)

Provide the value up to which you want to print fabonacci series:100
[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [ ]:
def fab(a, b):
  return a + b

x = int(input('Provide the value up to which you want to print fabonacci series:'))
k, l, y = 1, 1, []
y.append(k)

while l<=x:
  y.append(l)
  k, l = l, fab(k, l)

print(y)

Provide the value up to which you want to print fabonacci series:100
[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [ ]:
# AMOGH PRABHU
def fab(a,b):
    l = []
    n = int(input("Enter limit: "))
    while a<n:
        l.append(a)
        a,b = b,a+b
    return l
    
print(fab(0,1))

Enter limit: 100
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [ ]:
# Collatz Sequence

def collatz(a, l):
  if len(l) > 2:
    if l[len(l) - 1] == 1 and l[len(l) - 2] == 2 and l[len(l) - 3] == 4:
      return
    else:
      if a%2 == 0:
        a = int(a/2)
      else:
        a = 3 * a + 1
      l += [a]
      collatz(a, l)
  else:
    if a%2 == 0:
      a = int(a/2)
    else:
      a = 3 * a + 1
    l += [a]
    collatz(a, l)

l = []
a = int(input('Enter the positive number: '))
collatz(a, l)
print(l)

Enter the positive number: 1000
[500, 250, 125, 376, 188, 94, 47, 142, 71, 214, 107, 322, 161, 484, 242, 121, 364, 182, 91, 274, 137, 412, 206, 103, 310, 155, 466, 233, 700, 350, 175, 526, 263, 790, 395, 1186, 593, 1780, 890, 445, 1336, 668, 334, 167, 502, 251, 754, 377, 1132, 566, 283, 850, 425, 1276, 638, 319, 958, 479, 1438, 719, 2158, 1079, 3238, 1619, 4858, 2429, 7288, 3644, 1822, 911, 2734, 1367, 4102, 2051, 6154, 3077, 9232, 4616, 2308, 1154, 577, 1732, 866, 433, 1300, 650, 325, 976, 488, 244, 122, 61, 184, 92, 46, 23, 70, 35, 106, 53, 160, 80, 40, 20, 10, 5, 16, 8, 4, 2, 1]

In [ ]:
# Sets

a = {1,2,3}
print(a, type(a))

a = {1,2,3,1,4,3,6}
print(a, type(a))

a = {'x', 'y', 'x', 'z', 'x'}
print(a, type(a), len(a))

a = {True, False, True, True, False}
print(a, type(a), len(a))

a = {10, 2.0, 'x', True, 'sandeep', ('l', 'm', 'n'), False, True, 1000}
print(a, type(a), len(a))

a = set((1,2,3,4,5,3,1))
print(a, type(a), len(a))

print(1 in a)
print('1' in a)

for i in a:
  print(i)

#print(a[0])

a.add(100)
print(a)

a = {1, 2, 3}
b = {'x', 'y', 'x', 'z'}
a.update(b)
print(a, b)

a = {1, 2, 3}
b = ['x', 'y', 'x', 'z']
a.update(b)
print(a, b)

a = {1, 2, 3}
b = ('x', 'y', 'x', 'z')
a.update(b)
print(a, b)

a = {'x', 10, 20.2, 'sandeep'}
a.remove(20.2)
print(a)

a = {'x', 10, 20.2, 'sandeep'}
a.discard(20.2)
print(a)

a = {'x', 10, 20.2, 'sandeep'}
a.discard(1000)
print(a)
#a.remove(1000)
#print(a)

a = {'x', 10, 20.2, 'sandeep'}
a.pop()
print(a)

{1, 2, 3} <class 'set'>
{1, 2, 3, 4, 6} <class 'set'>
{'z', 'y', 'x'} <class 'set'> 3
{False, True} <class 'set'> 2
{False, True, 2.0, 'x', ('l', 'm', 'n'), 1000, 10, 'sandeep'} <class 'set'> 8
{1, 2, 3, 4, 5} <class 'set'> 5
True
False
1
2
3
4
5
{1, 2, 3, 4, 5, 100}
{1, 2, 3, 'y', 'z', 'x'} {'z', 'y', 'x'}
{1, 2, 3, 'x', 'y', 'z'} ['x', 'y', 'x', 'z']
{1, 2, 3, 'x', 'y', 'z'} ('x', 'y', 'x', 'z')
{'sandeep', 10, 'x'}
{'sandeep', 10, 'x'}
{'sandeep', 10, 20.2, 'x'}
{10, 20.2, 'x'}

In [ ]:
a = {'x', 10, 20.2, 'sandeep'}
print(a)
a.pop()
print(a)

a = {'x', 10, 20.2, 'sandeep'}
a.clear()
print(a)

a = {'x', 10, 20.2, 'sandeep'}
del a
#print(a)

a = {1, 2, 3}
b = {'x', 'y', 'z', 'x', 1}
c = a.union(b)
print(c)

c = a.intersection(b)
print(c)

c = a.symmetric_difference(b)
print(c)

{'sandeep', 10, 20.2, 'x'}
{10, 20.2, 'x'}
set()
{1, 2, 3, 'y', 'z', 'x'}
{1}
{2, 3, 'x', 'y', 'z'}

In [ ]:
# Dictionaries
# Ordered, Key-value pair, no duplicates 

a = {'day': 'Monday', 'month':'October', 'year': 2021}
print(a, type(a), len(a))
print(a['day'], a['year'])

a = {'day': 'Monday', 'month':'October', 'year': 2021, 'day': 'Sunday'}
print(a, a['day'])

a = {'name': 'Sandeep', 'boolean':True, 'year': 2021, 'sports':['cricket', 'football', 'tennis']}
print(a, type(a))
print(a['name'])
print(a.get('name'))
print(a.keys(), type(a.keys()))
a['name'] = 'VJTI'
print(a)
print(a.values(), type(a.values))

b = a.values()
print(b)
a['name'] = 'Mumbai'
print(a, b)

print(a.items(), type(a.items()))
b = a.items()
print(b)
a['name'] = 'Maharashtra'
print(a, b)

a['country'] = 'India'
print(a)
print('country' in a)
print('school' in a)

a.update({'boolean': False})
print(a)
a.update({'district': 'Thane'})
print(a)

{'day': 'Monday', 'month': 'October', 'year': 2021} <class 'dict'> 3
Monday 2021
{'day': 'Sunday', 'month': 'October', 'year': 2021} Sunday
{'name': 'Sandeep', 'boolean': True, 'year': 2021, 'sports': ['cricket', 'football', 'tennis']} <class 'dict'>
Sandeep
Sandeep
dict_keys(['name', 'boolean', 'year', 'sports']) <class 'dict_keys'>
{'name': 'VJTI', 'boolean': True, 'year': 2021, 'sports': ['cricket', 'football', 'tennis']}
dict_values(['VJTI', True, 2021, ['cricket', 'football', 'tennis']]) <class 'builtin_function_or_method'>
dict_values(['VJTI', True, 2021, ['cricket', 'football', 'tennis']])
{'name': 'Mumbai', 'boolean': True, 'year': 2021, 'sports': ['cricket', 'football', 'tennis']} dict_values(['Mumbai', True, 2021, ['cricket', 'football', 'tennis']])
dict_items([('name', 'Mumbai'), ('boolean', True), ('year', 2021), ('sports', ['cricket', 'football', 'tennis'])]) <class 'dict_items'>
dict_items([('name', 'Mumbai'), ('boolean', True), ('year', 2021), ('sports', ['cricket', 'football', 'tennis'])])
{'name': 'Maharashtra', 'boolean': True, 'year': 2021, 'sports': ['cricket', 'football', 'tennis']} dict_items([('name', 'Maharashtra'), ('boolean', True), ('year', 2021), ('sports', ['cricket', 'football', 'tennis'])])
{'name': 'Maharashtra', 'boolean': True, 'year': 2021, 'sports': ['cricket', 'football', 'tennis'], 'country': 'India'}
True
False
{'name': 'Maharashtra', 'boolean': False, 'year': 2021, 'sports': ['cricket', 'football', 'tennis'], 'country': 'India'}
{'name': 'Maharashtra', 'boolean': False, 'year': 2021, 'sports': ['cricket', 'football', 'tennis'], 'country': 'India', 'district': 'Thane'}

In [ ]:
a = {'name': 'Sandeep', 'boolean':True, 'year': 2021, 'sports':['cricket', 'football', 'tennis']}
print(a)
a.pop('name')
print(a)

a = {'name': 'Sandeep', 'boolean':True, 'year': 2021, 'sports':['cricket', 'football', 'tennis']}
print(a)
del a['name']
print(a)

a = {'name': 'Sandeep', 'boolean':True, 'year': 2021, 'sports':['cricket', 'football', 'tennis']}
print(a)
a.popitem()
print(a)

a = {'name': 'Sandeep', 'boolean':True, 'year': 2021, 'sports':['cricket', 'football', 'tennis']}
print(a)
a.clear()
print(a)

{'name': 'Sandeep', 'boolean': True, 'year': 2021, 'sports': ['cricket', 'football', 'tennis']}
{'boolean': True, 'year': 2021, 'sports': ['cricket', 'football', 'tennis']}
{'name': 'Sandeep', 'boolean': True, 'year': 2021, 'sports': ['cricket', 'football', 'tennis']}
{'boolean': True, 'year': 2021, 'sports': ['cricket', 'football', 'tennis']}
{'name': 'Sandeep', 'boolean': True, 'year': 2021, 'sports': ['cricket', 'football', 'tennis']}
{'name': 'Sandeep', 'boolean': True, 'year': 2021}
{'name': 'Sandeep', 'boolean': True, 'year': 2021, 'sports': ['cricket', 'football', 'tennis']}
{}

In [ ]:
a = {'name': 'Sandeep', 'boolean':True, 'year': 2021, 'sports':['cricket', 'football', 'tennis']}

for i in a:
  print(i)

for i in a:
  print(a[i])

for i in a.keys():
  print(i)

for i in a.values():
  print(i)

for i,j in a.items():
  print(i, j)

name
boolean
year
sports
Sandeep
True
2021
['cricket', 'football', 'tennis']
name
boolean
year
sports
Sandeep
True
2021
['cricket', 'football', 'tennis']
name Sandeep
boolean True
year 2021
sports ['cricket', 'football', 'tennis']

In [5]:
student = {
    'student1':{'name': 'ABC', 'rn':201080055, 'ay':2020},
    'student2':{'name': 'XYZ', 'rn':191080050, 'ay':2019},
    'student3':{'name': 'LMN', 'rn':211080061, 'ay':2020}
}

print(student)
print(student['student1']['rn'])

student1 = {'name': 'ABC', 'rn':201080055, 'ay':2020}
student2 = {'name': 'XYZ', 'rn':191080050, 'ay':2019}
student3 = {'name': 'LMN', 'rn':211080061, 'ay':2020}

student = {
    'student1': student1,
    'student2': student2,
    'student3': student2
}

print(student)
print(student['student1']['rn'])

{'student1': {'name': 'ABC', 'rn': 201080055, 'ay': 2020}, 'student2': {'name': 'XYZ', 'rn': 191080050, 'ay': 2019}, 'student3': {'name': 'LMN', 'rn': 211080061, 'ay': 2020}}
201080055
{'student1': {'name': 'ABC', 'rn': 201080055, 'ay': 2020}, 'student2': {'name': 'XYZ', 'rn': 191080050, 'ay': 2019}, 'student3': {'name': 'XYZ', 'rn': 191080050, 'ay': 2019}}
201080055

In [19]:
# Condition
a, b, c = 1, 2, 3
if a < b:
  print(a)

if b < a:
  print(a)
else:
  if c > a:
    print(c)

if b < a:
  print(a)
elif c > a:
    print(c)

if a < b: print(a)

print(a) if a < b else print(b)
print(a) if a > b else print(b)

if a < b:
  pass

for i in range(0,5):
  if i == 2:
    break
  else:
    print(i)

for i in range(0,5):
  if i == 2:
    continue
  else:
    print(i)

for i in range(0,5):
  if i == 2:
    pass
  else:
    print(i)

for i in range(0,5):
  if i == 2:
    continue
  else:
    print(i)
else:
  print("Finish")

1
3
3
1
1
2
0
1
0
1
3
4
0
1
3
4
0
1
3
4
Finish

In [37]:
# Function
def first_function():
  print('Hi sandeep')

first_function()

def first_function(name):
  print('Name : ' + name)

first_function('Sandeep')
first_function('Sachin')
first_function('Gargi')

def first_function(fname, mname, lname):
  print('Name : ' + fname, mname, lname)

first_function('Sandeep', 'Sambhaji', 'Udmale')
first_function('Sachin','Ramesh', 'Tendulakr')
first_function('Gargi', 'Sandeep', 'Udmale')
#first_function('Nutan')

def first_function(*name):
  print('Name : ' + name[0], name[1], name[2])

first_function('Sandeep', 'Sambhaji', 'Udmale')

def first_function(fname, mname, lname):
  print('Name : ' + fname, mname, lname)

first_function(mname = 'Sambhaji', lname = 'Udmale', fname = 'Sandeep')
first_function(lname = 'Udmale', fname = 'Gargi', mname = 'Sandeep')

def first_function(name = 'Sandeep'):
  print('Name : ' + name)

first_function()
first_function('Sachin')
first_function('Gargi')

def first_function(a):
  sum = 0
  for i in a:
    sum += i
  return sum

l = [1, 2, 3]
x = first_function(l)
print('sum : ', x)

def first_function():
  pass

first_function()

Hi sandeep
Name : Sandeep
Name : Sachin
Name : Gargi
Name : Sandeep Sambhaji Udmale
Name : Sachin Ramesh Tendulakr
Name : Gargi Sandeep Udmale
Name : Sandeep Sambhaji Udmale
Name : Sandeep Sambhaji Udmale
Name : Gargi Sandeep Udmale
Name : Sandeep
Name : Sachin
Name : Gargi
sum :  6

In [40]:
help(abs)

Help on built-in function abs in module builtins:

abs(x, /)
    Return the absolute value of the argument.

In [42]:
a = [1,2,3]
print(type(a))

<class 'list'>

In [43]:
help(tuple)

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [ ]:
#Lambda Function
#Lambda arguments:expression

a = lambda x:x*2
print(a(5))

a = lambda x,y,z:x*y*z
print(a(1,2,3))

In [1]:
def add(x,y):
    """
    (int,int) -> int
    Returns addition of two integer numbers.
    
    >>>add(1,2)
    3
    >>>add(100,10)
    110
    """
    return int(x)+int(y)
print(add(100,100))

help(add)

200
Help on function add in module __main__:

add(x, y)
    (int,int) -> int
    Returns addition of two integer numbers.

    >>>add(1,2)
    3
    >>>add(100,10)
    110

In [ ]:
#Exception handling - try except

#print(x)    #Gives name error
#print('Rushabh') #This wont get executed after as error occured

try:
    print(x)
except:
    print("Error:x is not defined")

In [ ]:
try:
    print(x)  #here name error comes so name error exception will be displayed.If this isnt there then other error displayed
    print(1/0)
except NameError:
    print('Error:x is not defined')
except:
    print('Other error')

In [ ]:
try:
    print('Rushabh Gala')
    #print(x)  #if no exception the else will also be run.If there is exception the else wont run
except:
    print('Error x not defined')
else:
    print('vjti')

In [ ]:
try:
    print('Rushabh Gala')
    print(x) 
except:
    print('Error x not defined')
else:
    print('vjti')
finally:
    print('VJTI')     #finally block will be executed in any condition

In [ ]:
import math
def square(x):
    if int(x) == 0:
        raise ValueError('Input argument cannot be zero')
    if int(x)<0:
        raise TypeError('Input argument must be positive integer')
    return math.pow(int(x),2)

try:
    y = square(input('Enter a number\n'))
    print(y)
except (ValueError,TypeError) as e:
    print(type(e),'::',e)

In [ ]:
import sys
randomList = ['a',0,2]

for entry in randomList:
    try:
        print("Entry is",entry)
        r = 1/int(entry)
        break
    except:
        print('Oops!',sys.exc_info()[0],'occured')
        print('Next entry')
        print()
print("The reciprocal of",entry,"is",r)