In [ ]:
#Structure of connecting to a database and running an SQL Query using sqlite3 in Python

import sqlite3     #Importing the library for using sqlite3

con = sqlite3.connect("testdata.db")      #Connecting to the database 'testdata'
#If the database does not exist a new file is created at the same location where you saved your Python script.

cur = con.cursor()     #The cursor is what executes sql commands

cur.execute("SQL Query")
#cur.execute executes the sql query inside the double quotes in the curved braces.

con.commit()     #To commit the changes made to the database
#REMEMBER: Without commiting the data will not be saved in the table.

cur.close()      #Closing the cursor

con.close()      #Closing the connection to database

In [ ]:
# cur.execute("CREATE TABLE StudentData(name TEXT,lname TEXT,fname TEXT,mname TEXT,dob TEXT,bplace TEXT,nation TEXT,relig TEXT,caste TEXT,addr TEXT,mno TEXT,hei REAL,wei REAL,adno TEXT,gno INTEGER,doa TEXT,std TEXT,div TEXT,ctname TEXT,hcolor TEXT,rno INTEGER,trem TEXT,photo TEXT,username TEXT,password TEXT)")

#This example query is used to create a new table with specified columns and data types in the database.

In [ ]:
# cur.execute("INSERT INTO StudentData VALUES('Darshi','Kadani','Jignesh','Deepa','26/08/2002','Mumbai','Indian','Vaishnav','Hindu','123,Baburao Apt. , Shaitan gully , Khatra mehel , Andher nagar , Shamshaan ke saamne , Ghatkopar(West) , Mumbai-400077 , Maharashtra', 1234567890 , 154.4 , 47.6 ,'1234-5678-9101', 9999 ,'23/06/2012','10th','A','Anita Nair','Yellow', 18 ,'Weak in Maths.Need to focus more.','Photo2','Darshi999','darshik@26')")

#This query inserts data into the table StudentData

In [ ]:
# cur.execute("SELECT * FROM StudentData")
# cur.fetchone()
#cur.fetchall()

#This query is used to get data from the table.
#The 'fetchone()' command fetches the rows one by one and the 'fetchall()' fetches all the rows.

In [ ]:
# cur.execute("UPDATE StudentData SET lname = 'Kamani' WHERE name = 'Darshi'")

#This query is used to change the lname of entry where name ='Darshi' in StudentData

In [ ]:
#cur.execute("DELETE FROM StudentData WHERE name='Darshi'")

#This query deletes the row where name is 'Darshi' from StudentData